<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="@Url.Action("Index", "Statewides")" title="List View" class="links">
            <img alt="List View" src="@Url.Content("~/Assets/WVDOT.png")" style="width:60px; height:60px; margin-right: 10px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link">@Html.ActionLink("Documents", "Index", "Documents")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">@Html.ActionLink("Roadway History Index", "Index", "Statewides")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">@Html.ActionLink("Reserved Routes", "ReservedRoutes", "Statewides")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">@Html.ActionLink("Resources", "About", "Home")</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
