@model Roadway_History.Models.Document

@{
    ViewBag.Title = "Create";
}

<h2>Enter a new Document for route number @ViewBag.routeNo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Hidden("Statewide_ID", (object)ViewBag.statewideID)


    <div class="form-group">
        @Html.LabelFor(model => model.Doc_Type, "Document Type", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Doc_Type", new List<SelectListItem>
            {
            new SelectListItem {Text = "CO", Value="CO"  },
            new SelectListItem {Text = "CF", Value="CF"  },
            }, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Order_Date, "Order Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Order_Date, new { htmlAttributes = new { @class = "form-control", placeholder = "07/20/2021" } })
            @Html.ValidationMessageFor(model => model.Order_Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Doc_Location, "Document Location", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Doc_Location", new List<SelectListItem>
            {
            new SelectListItem {Text = "CF", Value="CF"  },
            new SelectListItem {Text = "CORF", Value="CORF"  },
            }, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.File_Contents, "File Contents", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.File_Contents, new { htmlAttributes = new { @class = "form-control", placeholder = "correspondence info" } })
            @Html.ValidationMessageFor(model => model.File_Contents, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", placeholder = "INQUIRY - Sara Cremeans 7/9/21" } })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { statewideID = ViewBag.statewideID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
