@model IEnumerable<Roadway_History.Models.Document>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Statewide ID", "Index", new { sortOrder = ViewBag.stateIDSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doc_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doc_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File_Contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Statewide_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doc_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doc_Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File_Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
