@model PagedList.IPagedList<Roadway_History.Models.Document>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Documents";
    <h2>Documents Index</h2>
}

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("EXECUTIVE\\DOH Roadway His"))
    {
        if (ViewBag.statewideID != null)
        {
            @Html.ActionLink("Create New", "Create", new { statewideID = ViewBag.statewideID })
        }
    }
</p>

@using (Html.BeginForm("Index", "Documents", FormMethod.Get))
{
    <p>
        Find by Order Date and Comments: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<p>Default order is newest to oldest.</p>
<table class="table">
    <tr>
        @if (ViewBag.County != null)
        {
            <th>
                County
            </th>
        }

        @if (ViewBag.Route != null)
        {
            <th>
                Route
            </th>
        }
        <th>
            Doc Type
        </th>
        <th>
            @Html.ActionLink("Order Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Doc Location
        </th>
        <th>
            File Contents
        </th>
        <th>
            Comment
        </th>
        <th>
            Latitude
        </th>
        <th>
            Longitude
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    @if (ViewBag.County != null)
    {
        <td>
            @ViewBag.County
        </td>
    }
    @if (ViewBag.Route != null)
    {
        <td>
            @ViewBag.Route
        </td>
    }
    <td>
        @Html.DisplayFor(modelItem => item.Doc_Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Order_Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Doc_Location)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.File_Contents)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comment)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Latitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Longitude)
    </td>
    @if (User.Identity.IsAuthenticated && User.IsInRole("EXECUTIVE\\DOH Roadway His"))
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    }
</tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
