@model Roadway_History.Models.Statewide

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Statewide</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.COUNTY, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.COUNTY, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.COUNTY, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SignSys, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SignSys", new List<SelectListItem>
            {
                new SelectListItem {Text = "Interstate", Value="1"  },
                new SelectListItem {Text = "US", Value="2"  },
                new SelectListItem {Text = "WV", Value="3"  },
                new SelectListItem {Text = "CO", Value="4"  },
                new SelectListItem {Text = "N/A", Value="5"  },
                new SelectListItem {Text = "State Park and Forest Road", Value="6"  },
                new SelectListItem {Text = "FANS", Value="7"  },
                new SelectListItem {Text = "HARP", Value="8"  },
                new SelectListItem {Text = "Other", Value="9"  },
                new SelectListItem {Text = "MNS", Value="0"  },
                new SelectListItem {Text = "Railroad", Value="R"  },
                new SelectListItem {Text = "Trail", Value="T"  },
                new SelectListItem {Text = "USFR", Value="U"  }
            }, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RouteNoOrigImport, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RouteNoOrigImport, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RouteNoOrigImport, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RouteNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RouteNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RouteNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SuppDes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SuppDes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SuppDes, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SuppDes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SuppDes", new List<SelectListItem>
            {
                new SelectListItem {Text = "Not Applicable", Value="00"  },
                new SelectListItem {Text = "Alternate", Value="01"  },
                new SelectListItem {Text = "Wye", Value="02"  },
                new SelectListItem {Text = "Spur", Value="03"  },
                new SelectListItem {Text = "North", Value="04"  },
                new SelectListItem {Text = "South", Value="05"  },
                new SelectListItem {Text = "East", Value="06"  },
                new SelectListItem {Text = "West", Value="07"  },
                new SelectListItem {Text = "Business", Value="08"  },
                new SelectListItem {Text = "North Bound", Value="09"  },
                new SelectListItem {Text = "South Bound", Value="10"  },
                new SelectListItem {Text = "East Bound", Value="11"  },
                new SelectListItem {Text = "West Bound", Value="12"  },
                new SelectListItem {Text = "Truck Route", Value="13"  },
                new SelectListItem {Text = "Bypass", Value="14"  },
                new SelectListItem {Text = "Loop", Value="15"  },
                new SelectListItem {Text = "Toll", Value="16"  },
                new SelectListItem {Text = "Ramp", Value="17"  },
                new SelectListItem {Text = "Other", Value="18"  },
                new SelectListItem {Text = "City St. Non-State", Value="19"  },
                new SelectListItem {Text = "Road Under Construction", Value="20"  },
                new SelectListItem {Text = "Footbridge", Value="21"  },
                new SelectListItem {Text = "Historical Bridge", Value="22"  },
                new SelectListItem {Text = "Connector", Value="23"  },
                new SelectListItem {Text = "New/Proposed", Value="24"  },
                new SelectListItem {Text = "Crossover", Value="25"  },
                new SelectListItem {Text = "Emergency Crossover", Value="26"  },
                new SelectListItem {Text = "Left Turn Lane", Value="27"  },
                new SelectListItem {Text = "Right Turn Lane", Value="28"  },
                new SelectListItem {Text = "Rail Trail", Value="51"  },
                new SelectListItem {Text = "Abandoned", Value="99"  }
            }, new { @class = "form-control" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.LocalName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LocalName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LocalName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Method, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Method, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Method, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OriginalL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OriginalL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OriginalL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OriginalD, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OriginalD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OriginalD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Projects, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Projects, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Projects, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Documents, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Documents, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Documents, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.District, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Duplicate_OK, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Duplicate_OK)
                @Html.ValidationMessageFor(model => model.Duplicate_OK, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RightofWay, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RightofWay, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RightofWay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReservedRoute, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.ReservedRoute)
                @Html.ValidationMessageFor(model => model.ReservedRoute, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReservedBy, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ReservedBy, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ReservedBy, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReservedDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ReservedDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ReservedDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CP_WorkCompleted, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.CP_WorkCompleted)
                @Html.ValidationMessageFor(model => model.CP_WorkCompleted, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Work_Comments, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Work_Comments, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Work_Comments, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CP_ProjectNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CP_ProjectNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CP_ProjectNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReservedCat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ReservedCat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ReservedCat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Current_Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Current_Status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Current_Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
