@model Roadway_History.Models.ViewModel

<!--            CUSTOM CSS          -->
<link href="~/Styles/Statewides/DetailsStyle.css" type="text/css" rel="stylesheet">

<!--            GOOGLE ICONS          -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

@{
    ViewBag.Title = "Details";
}

<div class="bigContainer">
    <div class="container-fluid text-center topLabel">
        <div class="borderline">
            <h4 class="title"><strong>DETAIL RECORD - RP ROADWAY HISTORY FILE</strong></h4>
            <div class="row">
                <div class="col-md-1 printButton">
                    <input class="text-left" type="button" onclick="javascript:window.print()" value="Print" runat="server" />
                </div>
                <div class="col-md-11">
                    <p class="text-right">
                        <u>Current Date:</u>
                        <script>document.write(new Date().toLocaleDateString());</script>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 text-left">
                <h5><strong>COUNTY:</strong> <span class="box-shadow px-3">@Html.DisplayFor(model => model.Statewide.COUNTY)</span></h5>
            </div>
            <div class="col-md-3 text-right district">
                <h5><strong>District:</strong>@Html.DisplayFor(model => model.Statewide.District)</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-left">
                <h5><strong>Route No:</strong><span class="box-shadow px-4">@Html.DisplayFor(model => model.Statewide.RouteNo)</span></h5>
            </div>
            <div class="col-md-4">
                <h5><strong>Sign System:</strong><span class="box-shadow px-4 sign">@Html.DisplayFor(model => model.Statewide.SignSys)</span></h5>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                <h5><strong>LocalName:</strong></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-left">
                <h5 class="box-shadow px-3 localName">@Html.DisplayFor(model => model.Statewide.LocalName)</h5>
            </div>
            <div class="col-md-8"></div>
        </div>
        <div class="borderline text-left">
            <h5 class="mb-0"><strong>DOCUMENTS</strong></h5>
        </div>
        <table class="table">
            <tr>
                <th>Doc Type</th>
                <th>Order Date</th>
                <th>Doc Location</th>
                <th>File Contents</th>
                <th>Comment</th>
            </tr>

            @foreach (var document in Model.Document)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => document.Doc_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(model => document.Order_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => document.Doc_Location)
                    </td>
                    <td>
                        @Html.DisplayFor(model => document.File_Contents)
                    </td>
                    <td>
                        @Html.DisplayFor(model => document.Comment)
                    </td>
                </tr>
            }

        </table>
        <div class="borderline text-left">
            <h5 class="mb-0"><strong>PROJECTS</strong></h5>
        </div>
        <h6 class="text-left">@Html.DisplayFor(model => model.Statewide.Projects)</h6>
        <div class="borderline text-left">
            <h5 class="mb-0"><strong>COMMENTS</strong></h5>
        </div>
        <p class="text-left">@Html.DisplayFor(model => model.Statewide.Comments)</p>
    </div>

    <p style="margin-top: 20px">
        @Html.ActionLink("Back to List", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
    </p>

</div>