@model PagedList.IPagedList<Roadway_History.Models.Statewide>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Statewide";
    <h2>Statewides Index</h2>
}

<p>
    @Html.ActionLink("Create New", "Create")

</p>

@using (Html.BeginForm("Index", "Statewides", FormMethod.Get))
{
    <p>
        Find by county: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("County", "Index", new { sortOrder = ViewBag.countySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Sign Sys
        </th>
        <th>
            Route No. Orig Import
        </th>
        <th>
            Route No.
        </th>
        <th>
            SuppDes
        </th>
        <th>
            Local Name
        </th>
        <th>
            Date Number
        </th>
        <th>
            Method
        </th>
        <th>
            Original L
        </th>
        <th>
            Original D
        </th>
        <th>
            Projects
        </th>
        <th>
            Documents
        </th>
        <th>
            Comments
        </th>
        <th>
            District
        </th>
        <th>
            Right of Way
        </th>
        <th>
            Reversed By
        </th>
        <th>
            Reserved Date
        </th>
        <th>
            Work Comments
        </th>
        <th>
            CP Project No.
        </th>
        <th>
            Reserved Cat
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COUNTY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignSys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteNoOrigImport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppDes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RightofWay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Work_Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CP_ProjectNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedCat)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))